@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    font-family: 'Azeret Mono';
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1000px;
         
}
.title-nav {
    border: 2px solid black;
    font-size: 28px;
    font-weight: 800;
}
.btn-nav {
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    width: 228px;
    height: 58px;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.8;
    margin-bottom: 20px;
    margin-top: 38px;
    cursor:pointer;
    
}
/* Header starts */

.header-main {
    background-image: url(/images/Hero-bg.png);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat; 
    background-position: center;
     background-size: cover; 
    width: 100%;
    align-items: center;
    padding: 0px;
    margin: 0px; 
   
    
}
.header-image{  
    border: 2px solid black;
    margin-top: 26px;
    align-items: center;
   padding-top: 0px;
    }

.header-title{
       border: 2px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
text-align: center;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;

}

.header-description {
    border: 2px solid black;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
width: 852px;
text-align: center;
padding-bottom: 10px;
opacity: 0.7;

}

.header-btn
 button {
border: 2px solid black;
border-radius: 8px;
background: rgb(13, 19, 33);
width: 208px;
height: 64px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
margin-bottom: 44px;
cursor: pointer;
}
/* Header closed */

/* Main section starts here */

.section-main {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    /* height: 1395px; */
    padding: 80px 97px;
    
    margin: 0 auto;
}

.section-main1 {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-main-title {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);

}
.section-main-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    opacity: 0.7;    
}

.section-main2 {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 946px;
    height: 336px;
    }

    .section-main2-title {
        font-size: 24px;
        font-weight: 700;
    }

    .section-main2-description {
        font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: left
    opacity: 0.7;   
    }
    
    .btn-learn-more {
        background: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 600;
        width: 150px;
        height: 48px;
        border: 1px solid black;
        opacity: 0.8;
        margin-bottom: 20px;
        margin-top: 38px;
        cursor:pointer;
    }
    .section-main3 {
        border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 946px;
    height: 336px;
    }

    .section-youtube {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        padding: 32px;
    }

    .my-target-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 48px;
        padding: 32px;

    }
    .my-target-section1 .my-target-section2 .my-target-section3{
        width: 364px;
        height: 300px;
    }
    .my-target-section1 {
        background-color: rgba(255, 76, 30, 0.05);
    }
    .my-target-section2 {
        background-color: rgba(0, 76, 232, 0.05);
    }
    .my-target-section3 {
        rgba(255, 223, 0, 0.05)
    }

    .support-section {
        background-image: url();
    }
/* Main section end here */